<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_S4AVEDKUEeKe_YITSv7pXw" specification="interface heizung:&#xA;&#xA;out event on :void&#xA;out event off :  void&#xA;out event getstatus:void&#xA;interface:&#xA;in event on&#xA;in event off&#xA;in event time&#xA;var auto:boolean // heizung auto&#xA;&#xA;" name="Heizung" documentation="my Heizungsteuerung">
    <regions xmi:id="_S4BjMjKUEeKe_YITSv7pXw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_S4EmgTKUEeKe_YITSv7pXw">
        <outgoingTransitions xmi:id="_W7O58DKUEeKe_YITSv7pXw" specification="" target="_Ur6isDKUEeKe_YITSv7pXw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Ur6isDKUEeKe_YITSv7pXw" name="Go" incomingTransitions="_W7O58DKUEeKe_YITSv7pXw">
        <regions xmi:id="_Ur9mADKUEeKe_YITSv7pXw" name="r1">
          <vertices xsi:type="sgraph:Entry" xmi:id="_CLgGEDKVEeKe_YITSv7pXw">
            <outgoingTransitions xmi:id="_53yuADKVEeKe_YITSv7pXw" specification="" target="_2TBmwDKVEeKe_YITSv7pXw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_2TBmwDKVEeKe_YITSv7pXw" specification="entry/&#xA;raise heizung.off" name="AutoOff" incomingTransitions="_53yuADKVEeKe_YITSv7pXw _7K57sDKVEeKe_YITSv7pXw _RfmvkDMUEeKCYfEBeHN0_Q">
            <outgoingTransitions xmi:id="_6j60MDKVEeKe_YITSv7pXw" specification="time [auto== true]" target="_4IyOgDKVEeKe_YITSv7pXw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_4IyOgDKVEeKe_YITSv7pXw" specification="entry/&#xA;raise heizung.on" name="AutoOn" incomingTransitions="_6j60MDKVEeKe_YITSv7pXw">
            <outgoingTransitions xmi:id="_7K57sDKVEeKe_YITSv7pXw" specification="after 50400s" target="_2TBmwDKVEeKe_YITSv7pXw"/>
            <outgoingTransitions xmi:id="_RfmvkDMUEeKCYfEBeHN0_Q" specification="off" target="_2TBmwDKVEeKe_YITSv7pXw"/>
          </vertices>
        </regions>
        <regions xmi:id="_Ur9mATKUEeKe_YITSv7pXw" name="r2">
          <vertices xsi:type="sgraph:Entry" xmi:id="_CndCQDKVEeKe_YITSv7pXw">
            <outgoingTransitions xmi:id="_HulUIDKVEeKe_YITSv7pXw" specification="" target="_DNOBwDKVEeKe_YITSv7pXw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_DNOBwDKVEeKe_YITSv7pXw" specification="entry/&#xA;raise heizung.off&#xA;" name="off" incomingTransitions="_HulUIDKVEeKe_YITSv7pXw _JF4eQDKVEeKe_YITSv7pXw">
            <outgoingTransitions xmi:id="_IeBNADKVEeKe_YITSv7pXw" specification="on" target="_DxIAEDKVEeKe_YITSv7pXw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_DxIAEDKVEeKe_YITSv7pXw" specification="entry/&#xA;raise heizung.on" name="on" incomingTransitions="_IeBNADKVEeKe_YITSv7pXw">
            <outgoingTransitions xmi:id="_JF4eQDKVEeKe_YITSv7pXw" specification="off" target="_DNOBwDKVEeKe_YITSv7pXw"/>
          </vertices>
        </regions>
        <regions xmi:id="_MP2fUF5xEeOJy53Aev-heg" name="rc">
          <vertices xsi:type="sgraph:State" xmi:id="_PLJy0F5xEeOJy53Aev-heg" specification="entry/&#xA; raise heizung.getstatus" name="status" incomingTransitions="_UKCusF5xEeOJy53Aev-heg _GqOeIF5yEeOJy53Aev-heg">
            <outgoingTransitions xmi:id="_cuI2sF5xEeOJy53Aev-heg" specification="after 3s" target="_WhCbQF5xEeOJy53Aev-heg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_PkT5sF5xEeOJy53Aev-heg">
            <outgoingTransitions xmi:id="_UKCusF5xEeOJy53Aev-heg" specification="" target="_PLJy0F5xEeOJy53Aev-heg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_WhCbQF5xEeOJy53Aev-heg" specification="entry/&#xA; raise heizung.getstatus" name="status2" incomingTransitions="_cuI2sF5xEeOJy53Aev-heg">
            <outgoingTransitions xmi:id="_GqOeIF5yEeOJy53Aev-heg" specification="after 3s" target="_PLJy0F5xEeOJy53Aev-heg"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_S4BjMDKUEeKe_YITSv7pXw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_S4AVEDKUEeKe_YITSv7pXw" measurementUnit="Pixel">
    <children xmi:id="_S4CxUDKUEeKe_YITSv7pXw" type="Region" element="_S4BjMjKUEeKe_YITSv7pXw">
      <children xsi:type="notation:DecorationNode" xmi:id="_S4D_cDKUEeKe_YITSv7pXw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_S4D_cTKUEeKe_YITSv7pXw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_S4D_cjKUEeKe_YITSv7pXw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_S4D_czKUEeKe_YITSv7pXw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_S4EmgjKUEeKe_YITSv7pXw" type="Entry" element="_S4EmgTKUEeKe_YITSv7pXw">
          <children xmi:id="_S4EmhTKUEeKe_YITSv7pXw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_S4FNkDKUEeKe_YITSv7pXw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_S4FNkTKUEeKe_YITSv7pXw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_S4FNkjKUEeKe_YITSv7pXw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_S4EmhjKUEeKe_YITSv7pXw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S4EmhzKUEeKe_YITSv7pXw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_S4EmgzKUEeKe_YITSv7pXw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S4FNkzKUEeKe_YITSv7pXw" x="70" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_UsGI4DKUEeKe_YITSv7pXw" type="State" element="_Ur6isDKUEeKe_YITSv7pXw">
          <children xsi:type="notation:DecorationNode" xmi:id="_UsGv8DKUEeKe_YITSv7pXw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_UsGv8TKUEeKe_YITSv7pXw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_UsGv8jKUEeKe_YITSv7pXw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_UsGv8zKUEeKe_YITSv7pXw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_UsGv9DKUEeKe_YITSv7pXw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UsGv9TKUEeKe_YITSv7pXw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_UsGv9jKUEeKe_YITSv7pXw" type="StateFigureCompartment">
            <children xmi:id="_UsKaUDKUEeKe_YITSv7pXw" type="Region" element="_Ur9mADKUEeKe_YITSv7pXw">
              <children xsi:type="notation:DecorationNode" xmi:id="_UsLBYDKUEeKe_YITSv7pXw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_UsLBYTKUEeKe_YITSv7pXw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_UsLBYjKUEeKe_YITSv7pXw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_UsLocDKUEeKe_YITSv7pXw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_CLp3EDKVEeKe_YITSv7pXw" type="Entry" element="_CLgGEDKVEeKe_YITSv7pXw">
                  <children xmi:id="_CLp3EzKVEeKe_YITSv7pXw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_CLqeIDKVEeKe_YITSv7pXw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_CLqeITKVEeKe_YITSv7pXw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_CLqeIjKVEeKe_YITSv7pXw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_CLp3FDKVEeKe_YITSv7pXw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CLp3FTKVEeKe_YITSv7pXw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_CLp3ETKVEeKe_YITSv7pXw" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CLp3EjKVEeKe_YITSv7pXw" x="20" y="-1"/>
                </children>
                <children xmi:id="_2TMl4DKVEeKe_YITSv7pXw" type="State" element="_2TBmwDKVEeKe_YITSv7pXw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_2TNM8DKVEeKe_YITSv7pXw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_2TNM8TKVEeKe_YITSv7pXw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_2TNM8jKVEeKe_YITSv7pXw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2TNM8zKVEeKe_YITSv7pXw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_2TNM9DKVEeKe_YITSv7pXw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2TNM9TKVEeKe_YITSv7pXw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2TNM9jKVEeKe_YITSv7pXw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_2TMl4TKVEeKe_YITSv7pXw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_2TMl4jKVEeKe_YITSv7pXw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2TNM9zKVEeKe_YITSv7pXw"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2TMl4zKVEeKe_YITSv7pXw" x="108" y="13" width="125" height="115"/>
                </children>
                <children xmi:id="_4I-bwDKVEeKe_YITSv7pXw" type="State" element="_4IyOgDKVEeKe_YITSv7pXw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_4I_C0DKVEeKe_YITSv7pXw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_4I_C0TKVEeKe_YITSv7pXw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_4I_C0jKVEeKe_YITSv7pXw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_4I_C0zKVEeKe_YITSv7pXw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_4I_C1DKVEeKe_YITSv7pXw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4I_C1TKVEeKe_YITSv7pXw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_4I_C1jKVEeKe_YITSv7pXw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_4I-bwTKVEeKe_YITSv7pXw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_4I-bwjKVEeKe_YITSv7pXw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4I_C1zKVEeKe_YITSv7pXw"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4I-bwzKVEeKe_YITSv7pXw" x="522" y="13" width="152" height="115"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UsLocTKUEeKe_YITSv7pXw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_UsKaUTKUEeKe_YITSv7pXw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UsKaUjKUEeKe_YITSv7pXw"/>
            </children>
            <children xmi:id="_UsLocjKUEeKe_YITSv7pXw" type="Region" element="_Ur9mATKUEeKe_YITSv7pXw">
              <children xsi:type="notation:DecorationNode" xmi:id="_UsMPgDKUEeKe_YITSv7pXw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_UsMPgTKUEeKe_YITSv7pXw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_UsMPgjKUEeKe_YITSv7pXw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_UsMPgzKUEeKe_YITSv7pXw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_CnmMMDKVEeKe_YITSv7pXw" type="Entry" element="_CndCQDKVEeKe_YITSv7pXw">
                  <children xmi:id="_CnmzQDKVEeKe_YITSv7pXw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_CnmzQzKVEeKe_YITSv7pXw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_CnmzRDKVEeKe_YITSv7pXw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_CnmzRTKVEeKe_YITSv7pXw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_CnmzQTKVEeKe_YITSv7pXw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CnmzQjKVEeKe_YITSv7pXw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_CnmMMTKVEeKe_YITSv7pXw" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CnmMMjKVEeKe_YITSv7pXw" x="17" y="2"/>
                </children>
                <children xmi:id="_DNa2EDKVEeKe_YITSv7pXw" type="State" element="_DNOBwDKVEeKe_YITSv7pXw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_DNbdIDKVEeKe_YITSv7pXw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_DNbdITKVEeKe_YITSv7pXw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_DNbdIjKVEeKe_YITSv7pXw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_DNbdIzKVEeKe_YITSv7pXw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_DNbdJDKVEeKe_YITSv7pXw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DNbdJTKVEeKe_YITSv7pXw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_DNbdJjKVEeKe_YITSv7pXw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_DNa2ETKVEeKe_YITSv7pXw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_DNa2EjKVEeKe_YITSv7pXw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_DNbdJzKVEeKe_YITSv7pXw"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DNa2EzKVEeKe_YITSv7pXw" x="113" y="32" width="159" height="147"/>
                </children>
                <children xmi:id="_DxZF0DKVEeKe_YITSv7pXw" type="State" element="_DxIAEDKVEeKe_YITSv7pXw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_DxZs4DKVEeKe_YITSv7pXw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_DxZs4TKVEeKe_YITSv7pXw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_DxZs4jKVEeKe_YITSv7pXw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_DxZs4zKVEeKe_YITSv7pXw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_DxZs5DKVEeKe_YITSv7pXw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DxZs5TKVEeKe_YITSv7pXw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_DxZs5jKVEeKe_YITSv7pXw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_DxZF0TKVEeKe_YITSv7pXw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_DxZF0jKVEeKe_YITSv7pXw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_DxZs5zKVEeKe_YITSv7pXw"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DxZF0zKVEeKe_YITSv7pXw" x="379" y="34" width="136" height="143"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UsMPhDKUEeKe_YITSv7pXw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_UsLoczKUEeKe_YITSv7pXw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UsLodDKUEeKe_YITSv7pXw"/>
            </children>
            <children xmi:id="_MP3tcF5xEeOJy53Aev-heg" type="Region" element="_MP2fUF5xEeOJy53Aev-heg">
              <children xsi:type="notation:DecorationNode" xmi:id="_MP4UgF5xEeOJy53Aev-heg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_MP4UgV5xEeOJy53Aev-heg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_MP4Ugl5xEeOJy53Aev-heg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_MP47kF5xEeOJy53Aev-heg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_PLLoAF5xEeOJy53Aev-heg" type="State" element="_PLJy0F5xEeOJy53Aev-heg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_PLMPEF5xEeOJy53Aev-heg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_PLMPEV5xEeOJy53Aev-heg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_PLMPEl5xEeOJy53Aev-heg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_PLM2IF5xEeOJy53Aev-heg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_PLM2IV5xEeOJy53Aev-heg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PLM2Il5xEeOJy53Aev-heg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_PLM2I15xEeOJy53Aev-heg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_PLLoAV5xEeOJy53Aev-heg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_PLLoAl5xEeOJy53Aev-heg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_PLM2JF5xEeOJy53Aev-heg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PLLoA15xEeOJy53Aev-heg" x="55" y="101" width="193" height="82"/>
                </children>
                <children xmi:id="_PkVu4F5xEeOJy53Aev-heg" type="Entry" element="_PkT5sF5xEeOJy53Aev-heg">
                  <children xmi:id="_PkW9AF5xEeOJy53Aev-heg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_PkXkEF5xEeOJy53Aev-heg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_PkXkEV5xEeOJy53Aev-heg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_PkXkEl5xEeOJy53Aev-heg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_PkW9AV5xEeOJy53Aev-heg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PkW9Al5xEeOJy53Aev-heg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_PkVu4V5xEeOJy53Aev-heg" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PkVu4l5xEeOJy53Aev-heg" x="11" y="25"/>
                </children>
                <children xmi:id="_WhEQcF5xEeOJy53Aev-heg" type="State" element="_WhCbQF5xEeOJy53Aev-heg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_WhE3gF5xEeOJy53Aev-heg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WhE3gV5xEeOJy53Aev-heg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_WhFekF5xEeOJy53Aev-heg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WhFekV5xEeOJy53Aev-heg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_WhFekl5xEeOJy53Aev-heg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WhFek15xEeOJy53Aev-heg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WhFelF5xEeOJy53Aev-heg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WhEQcV5xEeOJy53Aev-heg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_WhEQcl5xEeOJy53Aev-heg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WhFelV5xEeOJy53Aev-heg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WhEQc15xEeOJy53Aev-heg" x="55" y="282" width="193" height="102"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MP47kV5xEeOJy53Aev-heg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_MP3tcV5xEeOJy53Aev-heg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MP3tcl5xEeOJy53Aev-heg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_UsGI4TKUEeKe_YITSv7pXw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_UsGI4jKUEeKe_YITSv7pXw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_UsGv9zKUEeKe_YITSv7pXw"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UsGI4zKUEeKe_YITSv7pXw" x="169" y="33" width="1940" height="881"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S4D_dDKUEeKe_YITSv7pXw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_S4CxUTKUEeKe_YITSv7pXw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S4EmgDKUEeKe_YITSv7pXw" x="220" y="8" width="2216" height="1036"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_S4IQ4DKUEeKe_YITSv7pXw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_S4IQ4jKUEeKe_YITSv7pXw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_S4IQ4zKUEeKe_YITSv7pXw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_S4IQ5DKUEeKe_YITSv7pXw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_S4IQ5TKUEeKe_YITSv7pXw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S4IQ5jKUEeKe_YITSv7pXw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S4IQ5zKUEeKe_YITSv7pXw" x="10" y="10" width="209" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_S4BjMTKUEeKe_YITSv7pXw"/>
    <edges xmi:id="_W7VnoDKUEeKe_YITSv7pXw" type="Transition" element="_W7O58DKUEeKe_YITSv7pXw" source="_S4EmgjKUEeKe_YITSv7pXw" target="_UsGI4DKUEeKe_YITSv7pXw">
      <children xsi:type="notation:DecorationNode" xmi:id="_W7WOsDKUEeKe_YITSv7pXw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_W7WOsTKUEeKe_YITSv7pXw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_W7WOsjKUEeKe_YITSv7pXw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_W7VnoTKUEeKe_YITSv7pXw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_W7VnozKUEeKe_YITSv7pXw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_W7VnojKUEeKe_YITSv7pXw" points="[5, 5, -68, -76]$[75, 76, 2, -5]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_W7eKgDKUEeKe_YITSv7pXw" id="(0.2191780821917808,0.03614457831325301)"/>
    </edges>
    <edges xmi:id="_Huw6UDKVEeKe_YITSv7pXw" type="Transition" element="_HulUIDKVEeKe_YITSv7pXw" source="_CnmMMDKVEeKe_YITSv7pXw" target="_DNa2EDKVEeKe_YITSv7pXw">
      <children xsi:type="notation:DecorationNode" xmi:id="_HuxhYTKVEeKe_YITSv7pXw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HuxhYjKVEeKe_YITSv7pXw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HuxhYzKVEeKe_YITSv7pXw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Huw6UTKVEeKe_YITSv7pXw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HuxhYDKVEeKe_YITSv7pXw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Huw6UjKVEeKe_YITSv7pXw" points="[6, 4, -70, -40]$[80, 23, 4, -21]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Hu9uoDKVEeKe_YITSv7pXw" id="(0.775,0.42105263157894735)"/>
    </edges>
    <edges xmi:id="_IeJI0DKVEeKe_YITSv7pXw" type="Transition" element="_IeBNADKVEeKe_YITSv7pXw" source="_DNa2EDKVEeKe_YITSv7pXw" target="_DxZF0DKVEeKe_YITSv7pXw">
      <children xsi:type="notation:DecorationNode" xmi:id="_IeJv4DKVEeKe_YITSv7pXw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IeJv4TKVEeKe_YITSv7pXw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IeJv4jKVEeKe_YITSv7pXw" x="-4" y="-31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_IeJI0TKVEeKe_YITSv7pXw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_IeJI0zKVEeKe_YITSv7pXw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_IeJI0jKVEeKe_YITSv7pXw" points="[29, 3, -170, 2]$[202, -9, 3, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IeRrsDKVEeKe_YITSv7pXw" id="(0.9396551724137931,0.2108843537414966)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IeRrsTKVEeKe_YITSv7pXw" id="(0.45,0.21052631578947367)"/>
    </edges>
    <edges xmi:id="_JGFSkDKVEeKe_YITSv7pXw" type="Transition" element="_JF4eQDKVEeKe_YITSv7pXw" source="_DxZF0DKVEeKe_YITSv7pXw" target="_DNa2EDKVEeKe_YITSv7pXw">
      <children xsi:type="notation:DecorationNode" xmi:id="_JGFSlDKVEeKe_YITSv7pXw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JGFSlTKVEeKe_YITSv7pXw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JGFSljKVEeKe_YITSv7pXw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JGFSkTKVEeKe_YITSv7pXw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JGFSkzKVEeKe_YITSv7pXw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JGFSkjKVEeKe_YITSv7pXw" points="[0, 3, 328, 0]$[-314, 3, 14, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZoaccDKVEeKe_YITSv7pXw" id="(0.01098901098901099,0.7777777777777778)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZMZO0DKVEeKe_YITSv7pXw" id="(0.8627450980392157,0.7875)"/>
    </edges>
    <edges xmi:id="_536p0DKVEeKe_YITSv7pXw" type="Transition" element="_53yuADKVEeKe_YITSv7pXw" source="_CLp3EDKVEeKe_YITSv7pXw" target="_2TMl4DKVEeKe_YITSv7pXw">
      <children xsi:type="notation:DecorationNode" xmi:id="_536p1DKVEeKe_YITSv7pXw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_536p1TKVEeKe_YITSv7pXw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_537Q4DKVEeKe_YITSv7pXw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_536p0TKVEeKe_YITSv7pXw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_536p0zKVEeKe_YITSv7pXw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_536p0jKVEeKe_YITSv7pXw" points="[7, 3, -146, -66]$[154, 53, 1, -16]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_54DMsDKVEeKe_YITSv7pXw" id="(0.1746031746031746,0.3157894736842105)"/>
    </edges>
    <edges xmi:id="_6kDXEDKVEeKe_YITSv7pXw" type="Transition" element="_6j60MDKVEeKe_YITSv7pXw" source="_2TMl4DKVEeKe_YITSv7pXw" target="_4I-bwDKVEeKe_YITSv7pXw">
      <children xsi:type="notation:DecorationNode" xmi:id="_6kDXFDKVEeKe_YITSv7pXw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6kDXFTKVEeKe_YITSv7pXw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6kDXFjKVEeKe_YITSv7pXw" x="1" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6kDXETKVEeKe_YITSv7pXw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6kDXEzKVEeKe_YITSv7pXw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6kDXEjKVEeKe_YITSv7pXw" points="[19, 1, -310, -13]$[331, 9, 2, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6kHogDKVEeKe_YITSv7pXw" id="(0.6825396825396826,0.07017543859649122)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6kHogTKVEeKe_YITSv7pXw" id="(0.2903225806451613,0.10526315789473684)"/>
    </edges>
    <edges xmi:id="_7K-0MDKVEeKe_YITSv7pXw" type="Transition" element="_7K57sDKVEeKe_YITSv7pXw" source="_4I-bwDKVEeKe_YITSv7pXw" target="_2TMl4DKVEeKe_YITSv7pXw">
      <children xsi:type="notation:DecorationNode" xmi:id="_7K-0NDKVEeKe_YITSv7pXw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7K-0NTKVEeKe_YITSv7pXw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7K-0NjKVEeKe_YITSv7pXw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7K-0MTKVEeKe_YITSv7pXw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7K-0MzKVEeKe_YITSv7pXw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7K-0MjKVEeKe_YITSv7pXw" points="[-11, 3, 326, 5]$[-334, 8, 3, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7LDssDKVEeKe_YITSv7pXw" id="(0.0,0.8)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7LDssTKVEeKe_YITSv7pXw" id="(0.4603174603174603,0.8245614035087719)"/>
    </edges>
    <edges xmi:id="_Rge5UDMUEeKCYfEBeHN0_Q" type="Transition" element="_RfmvkDMUEeKCYfEBeHN0_Q" source="_4I-bwDKVEeKe_YITSv7pXw" target="_2TMl4DKVEeKe_YITSv7pXw">
      <children xsi:type="notation:DecorationNode" xmi:id="_RggugDMUEeKCYfEBeHN0_Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RggugTMUEeKCYfEBeHN0_Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RggugjMUEeKCYfEBeHN0_Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Rge5UTMUEeKCYfEBeHN0_Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RgfgYDMUEeKCYfEBeHN0_Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Rge5UjMUEeKCYfEBeHN0_Q" points="[-15, -8, 322, 3]$[-333, -62, 4, -51]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RgxNMDMUEeKCYfEBeHN0_Q" id="(0.0,0.4782608695652174)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RgxNMTMUEeKCYfEBeHN0_Q" id="(0.768,0.46956521739130436)"/>
    </edges>
    <edges xmi:id="_UKDVwF5xEeOJy53Aev-heg" type="Transition" element="_UKCusF5xEeOJy53Aev-heg" source="_PkVu4F5xEeOJy53Aev-heg" target="_PLLoAF5xEeOJy53Aev-heg">
      <children xsi:type="notation:DecorationNode" xmi:id="_UKD80F5xEeOJy53Aev-heg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UKD80V5xEeOJy53Aev-heg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UKD80l5xEeOJy53Aev-heg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UKDVwV5xEeOJy53Aev-heg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UKDVw15xEeOJy53Aev-heg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UKDVwl5xEeOJy53Aev-heg" points="[5, 8, -62, -86]$[69, 86, 2, -8]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UKFK8F5xEeOJy53Aev-heg" id="(0.29508196721311475,0.12962962962962962)"/>
    </edges>
    <edges xmi:id="_cuKE0F5xEeOJy53Aev-heg" type="Transition" element="_cuI2sF5xEeOJy53Aev-heg" source="_PLLoAF5xEeOJy53Aev-heg" target="_WhEQcF5xEeOJy53Aev-heg">
      <children xsi:type="notation:DecorationNode" xmi:id="_cuKr4F5xEeOJy53Aev-heg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cuKr4V5xEeOJy53Aev-heg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cuKr4l5xEeOJy53Aev-heg" x="-6" y="59"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cuKE0V5xEeOJy53Aev-heg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cuKE015xEeOJy53Aev-heg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cuKE0l5xEeOJy53Aev-heg" points="[-6, 48, 2, -145]$[-6, 178, 2, -15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2UtP0MxqEeafcdgZIgnZBA" id="(0.22797927461139897,0.8414634146341463)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cuL6AF5xEeOJy53Aev-heg" id="(0.2631578947368421,0.24074074074074073)"/>
    </edges>
    <edges xmi:id="_GqPsQF5yEeOJy53Aev-heg" type="Transition" element="_GqOeIF5yEeOJy53Aev-heg" source="_WhEQcF5xEeOJy53Aev-heg" target="_PLLoAF5xEeOJy53Aev-heg">
      <children xsi:type="notation:DecorationNode" xmi:id="_GqPsRF5yEeOJy53Aev-heg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GqPsRV5yEeOJy53Aev-heg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GqPsRl5yEeOJy53Aev-heg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GqPsQV5yEeOJy53Aev-heg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GqPsQ15yEeOJy53Aev-heg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GqPsQl5yEeOJy53Aev-heg" points="[-4, -5, 142, 178]$[-86, -173, 60, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GqQ6YF5yEeOJy53Aev-heg" id="(0.8390804597701149,0.05194805194805195)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3rZ9AMxqEeafcdgZIgnZBA" id="(0.8186528497409327,0.8658536585365854)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
